[submodule "cmake_shared"]
	path = src/cmake_shared
	url = git@gitlab.science.gc.ca:RPN-SI/cmake_shared.git
[submodule "test/cmake_shared"]
	path = test/cmake_shared
	url = git@gitlab.science.gc.ca:RPN-SI/cmake_shared.git
